#card_container {
    position: relative;
    width: 200px;
    height: 300px;
}

.card {
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: snow;
    border: 2px solid black;
    border-radius: 1rem;
    cursor: pointer;
    user-select: none;
    touch-action: none;
    figcaption {
        text-align: center;
        font-size: 2rem;
        background-color: gainsboro;
    }
}