#card_container {
    position: relative;
    width: 200px;
    height: 300px;
}

.card {
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: snow;
    border: 2px solid black;
    border-radius: 1rem;
    cursor: pointer;
    user-select: none;
    touch-action: none;
    figcaption {
        text-align: center;
        font-size: 2rem;
        background-color: gainsboro;
    }
}
.action_like {
    animation: swipeRight 1s;
    z-index: 10;
}
.action_dislike {
    animation: swipeLeft 1s;
    z-index: 10;
}
@keyframes swipeRight {
    to {
        transform: translateX(200px);
    }
}

@keyframes swipeLeft {
    to {
        transform: translateX(-200px);
    }
}
