#card_container {
    position: relative;
    width: 300px;
    height: 400px;
}

.card {
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: snow;
    border-radius: 0.6rem;
    cursor: pointer;
    user-select: none;
    touch-action: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    figcaption {
        text-align: center;
        font-size: 2.5rem;
        text-shadow: -1px -1px 0 #d4d2d2, 1px -1px 0 #d4d2d2, -1px 1px 0 #d4d2d2, 1px 1px 0 #d4d2d2;
        width: 15%;
        padding: 10px 0 0 0;
        border-radius: 0.6rem 0 0 0;
    }
    &:nth-of-type(1) {
        left: 3rem;
        bottom: 3rem;
        animation: addCard 0.4s ease-out;
    }
    &:nth-of-type(n + 2):nth-of-type(-n + 3) {
        left: 3rem;
        bottom: 3rem;
    }
    &:nth-of-type(4) {
        left: 2rem;
        bottom: 2rem;
    }
    &:nth-of-type(5) {
        left: 1rem;
        bottom: 1rem;
    }
}

@keyframes addCard {
    0% {
        bottom: 100vh;
    }
    100% {
        bottom: 3rem;
    }
}
